:root {
    --width: 300px;
    --background: #201F1F;
    --text-color: #F2F2F2;
}


* {
	/* border: 1px solid black; */
    /* box-sizing: border-box; */
}

header {
	background-color: var(--background);
	display: flex;
}

nav {
	background-color: var(--background);
	font-size: 30px;
	padding-top: calc(100px - 1em);
	padding-bottom: calc(100px - 1em);
	width: 25em;
	display: flex;
}

a {
	background-color: var(--background);
	display: flex;
	margin: auto;

	padding-left: 30px;
	padding-right: 30px;
	border-radius: 25px;
	color: var(--text-color);
	text-decoration: none;
	justify-content: center;
}


a:hover {
	background-color: #484343;
}

a:hover .nav-icon {
	filter: brightness(0) saturate(100%) invert(13%) sepia(31%) saturate(6527%) hue-rotate(349deg) brightness(87%) contrast(100%);
}

.s-icon, .home-icon, .article-icon {
	width: 2rem;
	height: 2rem;
	margin: auto;
	margin-right: 10px;
}

.s-icon {
	color: #730E0E;
	margin-right:  0;
}

.red-head-footer {
	width: auto;
	height: 20px;
	background-color: #730E0E;
}

body {
	background-color: #484343;
	color: #FAF2F2;
	font-family: monospace;
	font-size: large;
}

img {
	display: block;
	margin-right: auto;
	width: 300px;
	height: 200px;
}

h1 {
	background-color: #1b1a1a;
	color: #730E0E;

	display: table;
}

h2 {
	background-color: #0D0D0D;
	color: #800F0F;
	border-radius: 25px;
	border-style: solid;
    border-color: #1b1a1a;
	display: table;
	padding: 1%;
}

input {
	background-color: #0D0D0D;
	color: #800F0F;
	border-radius: 10px;
	border-style: solid;
    border-color: #1b1a1a;
	display: table;
	padding: 1%;
}

.button {
	background-color: #800F0F;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}
  
.button:hover {
	background-color: #0D0D0D;
	color: white;
}

.p-timer-clock {
	background-color: #1b1a1a;
	text-align:left;
	font-size: 60px;
	border-radius: 10px;
	margin-top: 0px;
	display: table;
	padding: 1%;
}

.p-black-background {
	background-color: #1b1a1a;
	color: #FAF2F2;
	border-radius: 10px;
	display:table;
	padding: 1%;
}

section {
	margin-top: 30px;
}

.software-section {
    background-color: var(--background);
    color: #fff;
    padding: 20px;
}

.article-section {
    background-color: var(--background);
    color: #fff;
    padding: 20px;
}

.div-red-text {
	background-color: #161616;
	color: #800F0F;
	border-style: solid;
    border-color: #1b1a1a;
	display: table;
	padding: 1%;
}

footer {
	background-color: #0D0D0D;
    color: #fff;
    padding: 20px;
    margin: -8px;
	margin-top: 10px;
}
